body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
}
#Buddynet-img {
  height: 40px;
  padding-bottom: 15px;
}
#jumb1 {
  padding-top:300px;
  background-image: url(dreamjob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#dreamjob1 {
  width:1200px;
}
#learnmore {
  background-color:black;
  
}
