body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
}
#Buddynet-img {
  height: 40px;
  padding-bottom: 15px;
}
#jumb1 {
  padding-top:300px;
  background-image: url(dreamjob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#dreamjob1 {
  width:1200px;
}
#learnmore {
  background-color:black;
}
#intro h1 {
  text-align:center;
  font-family: 'Bree Serif', serif;
}
#Buddynet-img2 {
  display: block;
  margin: auto;
}
#defbuddynet h1 {
  font-family: 'Bree Serif', serif;
  font-size: 28px;
}
#defbuddynet h2 {
  font-family: 'Bree Serif', serif;
  font-size: 22px;
}
.resume-int h1 {
  text-align:center;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  text-decoration: underline;
}
#interview {
  height: 300px;
  display: block;
  margin-left: 70px;
}
#resumereview {
  height: 300px;
  display: block;
  margin-left:  0px;
}
.resume li {
  font-size: 20px;
}
.interview li {
  font-size: 20px;
}
#carlos {
  display: block;
  margin: auto;
}
#carlosdesc h1 {
  font-size: 28px;
}
#reynel {
  width: 250px;
  display: block;
  margin: auto;
}
#reyneldesc h1 {
  font-size: 28px;
}
#facebook {
  display: block;
  margin: auto;
  padding-top: 50px;
}
#mail {
  display: block;
  margin: auto;
  height: 300px;
}
